			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            文档 <small>下载</small>
                        </h1>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">  
                        SDK<br />
                        下载通道:<a href="http://{xek:path name="HOST"}/download/sdk.zip">本站下载</a>
                        </div>
                        <div class="panel-heading">
                        APP<br />
                        下载通道:<a href="http://{xek:path name="HOST"}/download/app.apk">本站下载</a>
                        </div>
                        <div class="panel-heading">
                        DEMO PHP<br />
                        下载通道:<a href="http://{xek:path name="HOST"}/download/demo_php.zip">本站下载</a>
                        </div>
                        <!--<div class="panel-heading">
                        DEMO C<br />
                        下载通道:<a href="http://{xek:path name="HOST"}/download/demo_C.zip">本站下载</a>
                        </div>
                        <div class="panel-heading">
                        DEMO VB<br />
                        下载通道:<a href="http://{xek:path name="HOST"}/download/demo_vb.zip">本站下载</a>
                        </div>
                        <div class="panel-heading">
                        DEMO Python<br />
                        下载通道:<a href="http://{xek:path name="HOST"}/download/demo_python.zip">本站下载</a>
                        </div>
                        <div class="panel-heading">
                        DEMO Android<br />
                        下载通道:<a href="http://{xek:path name="HOST"}/download/demo_android.zip">本站下载</a>
                        </div>
                        <div class="panel-heading">
                        DEMO 易语言<br />
                        下载通道:<a href="http://{xek:path name="HOST"}/download/demo_e.zip">本站下载</a>
                        </div>-->
                        <div class="panel-heading">
                        MAPPING<br />
                        版本选择:<a href="{xek:path name="DOMAIN_FOLDER"}index.php?page=download&download=win64">|win 64|</a>
                        <a href="{xek:path name="DOMAIN_FOLDER"}index.php?page=download&download=win86">|win 32|</a>
                        <a href="{xek:path name="DOMAIN_FOLDER"}index.php?page=download&download=linux64">|lin 64|</a>
                        <a href="{xek:path name="DOMAIN_FOLDER"}index.php?page=download&download=linux86">|lin 32|</a>
                        <a href="{xek:path name="DOMAIN_FOLDER"}index.php?page=download&download=linuxarm">|lin arm|</a>
                        <a href="{xek:path name="DOMAIN_FOLDER"}index.php?page=download&download=darwin64">|mac 64|</a>
                        <a href="{xek:path name="DOMAIN_FOLDER"}index.php?page=download&download=darwin86">|mac 32|</a>
                        </div>
                    </div>
                </div>

                </div>