<p style="text-align:center;">© 2014-{xek:date name="Y"} Schear.kai. All Rights Reserved.<br /><a href="//www.miibeian.gov.cn/">粤ICP备17053689号</a></p>
         </div>
       </div>
    </div>
    <script>
	(function(){
		var bp = document.createElement('script');
		var curProtocol = window.location.protocol.split(':')[0];
		if (curProtocol === 'https') {
			bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
		}
		else {
			bp.src = 'http://push.zhanzhang.baidu.com/push.js';
		}
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(bp, s);
	})();
	</script>
</body>
</html>