{xek:admin name="admin_plugin"}
            <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            插件 <small>列表</small>
                        </h1>
                    </div>
                </div> 
                 <!-- /. ROW  -->
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        {xek:admin name="information"}
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>插件名称</th>
                                            <th>开发者</th>
                                            <th>应用名</th>
                                            <th>版本</th>
                                            <th>介绍</th>
                                            <th>状态</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {xek:admin name="system_plugin"}
                                    </tbody>
                                </table>

                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <!-- Advanced Tables -->
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        上传文件
                      </div>
                      <div class="panel-body">
                      <h5><i class="fa fa-fw fa-bell fa-fw"></i>开发者,管理员上传插件无需审核<br />
                      <i class="fa fa-fw fa-bell fa-fw"></i>审核插件为一个工作日内!<br />
                      <i class="fa fa-fw fa-bell fa-fw"></i>插件格式暂时只能为PHP!</h5>
                          <div class="row">
                              <form action="index.php?page=plugin" method="post"  role="form" enctype="multipart/form-data">
                                <input type="hidden" name="upload" value="<?php echo md5(date());?>" />
                                <div class="col-lg-6">
                                    <input type="file" name="file" id="file" class="btn btn-default" /> 
                                </div>
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-default">上传</button>
                                </div>  
                              </form>
                        </div>          
                      </div>
                  </div>
              </div>
          </div>
    <script src="{xek:path name="JS_FOLDER"}dataTables/jquery.dataTables.js"></script>
    <script src="{xek:path name="JS_FOLDER"}dataTables/dataTables.bootstrap.js"></script>
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>
    